In [3]:
import pandas as pd

In [5]:
pd.read_csv("surveys.csv")

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [6]:
surveys_df = pd.read_csv("surveys.csv")

In [7]:
surveys_df

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [8]:
type (surveys_df)

pandas.core.frame.DataFrame

In [9]:
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [10]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [11]:
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [12]:
surveys_df.tail()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [13]:
surveys_df.shape

(35549, 9)

In [14]:
surveys_df['day']

0        16
1        16
2        16
3        16
4        16
5        16
6        16
7        16
8        16
9        16
10       16
11       16
12       16
13       16
14       16
15       16
16       16
17       16
18       16
19       17
20       17
21       17
22       17
23       17
24       17
25       17
26       17
27       17
28       17
29       17
         ..
35519    31
35520    31
35521    31
35522    31
35523    31
35524    31
35525    31
35526    31
35527    31
35528    31
35529    31
35530    31
35531    31
35532    31
35533    31
35534    31
35535    31
35536    31
35537    31
35538    31
35539    31
35540    31
35541    31
35542    31
35543    31
35544    31
35545    31
35546    31
35547    31
35548    31
Name: day, dtype: int64

In [16]:
pd.unique(surveys_df['sex'])

array(['M', 'F', nan], dtype=object)

In [17]:
pd.unique(surveys_df['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

In [18]:
pd.unique(surveys_df['plot_id'])

array([ 2,  3,  7,  1,  6,  5,  8,  4, 11, 14, 15, 13,  9, 10, 17, 16, 20,
       23, 18, 21, 22, 19, 12, 24])

In [19]:
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [20]:
pd.unique(surveys_df['month'])

array([ 7,  8,  9, 10, 11, 12,  1,  2,  3,  4,  5,  6])

In [21]:
surveys_df['weight'].describe()

count    32283.000000
mean        42.672428
std         36.631259
min          4.000000
25%         20.000000
50%         37.000000
75%         48.000000
max        280.000000
Name: weight, dtype: float64

In [22]:
surveys_df['weight'].count()

32283

In [23]:
surveys_df['weight'].min()

4.0

In [24]:
surveys_df['weight'].quantile(0.5)

37.0

In [25]:
surveys_df['weight'].quantile(0.25)

20.0

In [26]:
sorted = surveys_df.groupby('sex')

In [27]:
sorted.describe()

                    day  hindfoot_length         month       plot_id  \
sex
F   count  15690.000000     14894.000000  15690.000000  15690.000000
    mean      16.007138        28.836780      6.583047     11.440854
    std        8.271144         9.463789      3.367350      6.870684
    min        1.000000         7.000000      1.000000      1.000000
    25%        9.000000        21.000000      4.000000      5.000000
    50%       16.000000        27.000000      7.000000     12.000000
    75%       23.000000        36.000000     10.000000     17.000000
    max       31.000000        64.000000     12.000000     24.000000
M   count  17348.000000     16476.000000  17348.000000  17348.000000
    mean      16.184286        29.709578      6.392668     11.098282
    std        8.199274         9.629246      3.420806      6.728713
    min        1.000000         2.000000      1.000000      1.000000
    25%        9.000000        21.000000      3.000000      5.000000
    50%       16.000000        34.000000      6.000000     11.000000
    75%       23.000000        36.000000      9.000000     17.000000
    max       31.000000        58.000000     12.000000     24.000000

              record_id        weight          year
sex
F   count  15690.000000  15303.000000  15690.000000
    mean   18036.412046     42.170555   1990.644997
    std    10423.089000     36.847958      7.598725
    min        3.000000      4.000000   1977.000000
    25%     8917.500000     20.000000   1984.000000
    50%    18075.500000     34.000000   1990.000000
    75%    27250.000000     46.000000   1997.000000
    max    35547.000000    274.000000   2002.000000
M   count  17348.000000  16879.000000  17348.000000
    mean   17754.835601     42.995379   1990.480401
    std    10132.203323     36.184981      7.403655
    min        1.000000      4.000000   1977.000000
    25%     8969.750000     20.000000   1984.000000
    50%    17727.500000     39.000000   1990.000000
    75%    26454.250000     49.000000   1997.000000
    max    35548.000000    280.000000   2002.000000

In [28]:
sorted['weight'].mean()

sex
F    42.170555
M    42.995379
Name: weight, dtype: float64

In [29]:
sorted2 = surveys_df.groupby(['sex','plot_id'])

In [30]:
sorted2.mean()

                record_id     month        day         year  hindfoot_length  \
sex plot_id
F   1        18390.384434  6.597877  15.338443  1990.933962        31.733911
    2        17714.753608  6.426804  16.288660  1990.449485        30.161220
    3        19888.783875  6.604703  16.161254  1992.013438        23.774044
    4        17489.205275  6.442661  15.746560  1990.235092        33.249102
    5        12280.793169  6.142315  15.722960  1986.485769        28.921844
    6        19406.503392  6.628223  16.313433  1991.579376        26.981322
    7        19069.668657  6.385075  15.313433  1991.441791        19.779553
    8        18920.276190  6.632143  15.836905  1991.267857        32.187578
    9        16217.497069  6.499414  15.555686  1989.303634        35.126092
    10       16001.496454  5.588652  16.964539  1989.248227        18.641791
    11       16994.962287  6.759124  16.283455  1989.836983        32.029299
    12       17457.966981  6.509434  16.305660  1990.266981        30.975124
    13       18033.100318  6.802548  16.229299  1990.619427        27.201014
    14       17097.145275  6.510578  16.681241  1989.974612        32.973373
    15       20602.449064  6.569647  16.162162  1992.523909        21.949891
    16       19002.445946  6.360360  16.819820  1991.351351        23.144928
    17       18234.322870  6.650224  15.892377  1990.785874        30.918536
    18       17940.875497  6.698013  15.960265  1990.536424        26.690341
    19       21848.216475  6.701149  15.226054  1993.417625        21.257937
    20       17510.769231  6.743077  16.026154  1990.253846        27.069193
    21       22452.636661  6.860884  16.307692  1993.878887        22.366554
    22       18499.695976  6.651267  15.521610  1990.973174        34.108320
    23       15863.193939  6.860606  16.036364  1989.024242        20.051948
    24       13702.224280  6.596708  16.393004  1987.485597        26.993377
M   1        17197.740639  6.121461  15.905936  1990.091324        34.302770
    2        18085.458042  6.340035  15.440559  1990.756119        30.353760
    3        20226.767857  6.271429  16.450000  1992.275000        23.833744
    4        18493.841748  6.430097  16.507767  1991.000971        34.097959
    5        12798.426621  6.194539  15.703072  1986.817406        29.694794
    6        17849.574607  6.035340  16.091623  1990.556283        27.425591
    7        19188.729642  6.719870  15.778502  1991.462541        20.536667
    8        19452.109868  6.571719  15.854527  1991.686673        33.751059
    9        18000.710159  6.361554  15.209163  1990.632470        34.175732
    10       15708.704225  5.718310  16.739437  1989.007042        19.567164
    11       16933.909621  6.374150  15.974733  1989.856171        32.078014
    12       17592.327500  6.304167  16.367500  1990.400833        31.762489
    13       16969.044700  6.480204  16.005109  1989.911877        27.893793
    14       17891.948598  6.660748  16.504673  1990.587850        32.961802
    15       18104.019560  6.185819  17.413203  1990.770171        21.803109
    16       18434.714286  6.201465  16.622711  1990.926740        23.480916
    17       18857.651472  6.569801  16.183286  1991.331434        32.227634
    18       15106.718850  6.610224  16.797125  1988.551118        27.703072
    19       19470.779690  6.533563  16.647160  1991.740103        21.071685
    20       16076.192496  6.489396  16.375204  1989.243067        27.908451
    21       20120.399113  6.671840  16.203991  1992.199557        21.736721
    22       18015.365527  6.381872  16.682021  1990.650817        33.359746
    23       17091.338164  6.391304  16.077295  1989.961353        19.850000
    24       15208.136082  6.360825  16.971134  1988.641237        25.786996

                weight
sex plot_id
F   1        46.311138
    2        52.561845
    3        31.215349
    4        46.818824
    5        40.974806
    6        36.352288
    7        20.006135
    8        45.623011
    9        53.618469
    10       17.094203
    11       43.515075
    12       49.831731
    13       40.524590
    14       47.355491
    15       26.670236
    16       25.810427
    17       48.176201
    18       36.963514
    19       21.978599
    20       52.624406
    21       25.974832
    22       53.647059
    23       20.564417
    24       47.914405
M   1        55.950560
    2        51.391382
    3        34.163241
    4        48.888119
    5        40.708551
    6        36.867388
    7        21.194719
    8        49.641372
    9        49.519309
    10       19.971223
    11       43.366197
    12       48.909710
    13       40.097754
    14       45.159378
    15       27.523691
    16       23.811321
    17       47.558853
    18       43.546952
    19       20.306878
    20       44.197279
    21       22.772622
    22       54.572531
    23       18.941463
    24       39.321503

In [31]:
sorted2['weight'].mean()

sex  plot_id
F    1          46.311138
     2          52.561845
     3          31.215349
     4          46.818824
     5          40.974806
     6          36.352288
     7          20.006135
     8          45.623011
     9          53.618469
     10         17.094203
     11         43.515075
     12         49.831731
     13         40.524590
     14         47.355491
     15         26.670236
     16         25.810427
     17         48.176201
     18         36.963514
     19         21.978599
     20         52.624406
     21         25.974832
     22         53.647059
     23         20.564417
     24         47.914405
M    1          55.950560
     2          51.391382
     3          34.163241
     4          48.888119
     5          40.708551
     6          36.867388
     7          21.194719
     8          49.641372
     9          49.519309
     10         19.971223
     11         43.366197
     12         48.909710
     13         40.097754
     14         45.159378
     15         27.523691
     16         23.811321
     17         47.558853
     18         43.546952
     19         20.306878
     20         44.197279
     21         22.772622
     22         54.572531
     23         18.941463
     24         39.321503
Name: weight, dtype: float64

In [32]:
sorted.describe()

                    day  hindfoot_length         month       plot_id  \
sex
F   count  15690.000000     14894.000000  15690.000000  15690.000000
    mean      16.007138        28.836780      6.583047     11.440854
    std        8.271144         9.463789      3.367350      6.870684
    min        1.000000         7.000000      1.000000      1.000000
    25%        9.000000        21.000000      4.000000      5.000000
    50%       16.000000        27.000000      7.000000     12.000000
    75%       23.000000        36.000000     10.000000     17.000000
    max       31.000000        64.000000     12.000000     24.000000
M   count  17348.000000     16476.000000  17348.000000  17348.000000
    mean      16.184286        29.709578      6.392668     11.098282
    std        8.199274         9.629246      3.420806      6.728713
    min        1.000000         2.000000      1.000000      1.000000
    25%        9.000000        21.000000      3.000000      5.000000
    50%       16.000000        34.000000      6.000000     11.000000
    75%       23.000000        36.000000      9.000000     17.000000
    max       31.000000        58.000000     12.000000     24.000000

              record_id        weight          year
sex
F   count  15690.000000  15303.000000  15690.000000
    mean   18036.412046     42.170555   1990.644997
    std    10423.089000     36.847958      7.598725
    min        3.000000      4.000000   1977.000000
    25%     8917.500000     20.000000   1984.000000
    50%    18075.500000     34.000000   1990.000000
    75%    27250.000000     46.000000   1997.000000
    max    35547.000000    274.000000   2002.000000
M   count  17348.000000  16879.000000  17348.000000
    mean   17754.835601     42.995379   1990.480401
    std    10132.203323     36.184981      7.403655
    min        1.000000      4.000000   1977.000000
    25%     8969.750000     20.000000   1984.000000
    50%    17727.500000     39.000000   1990.000000
    75%    26454.250000     49.000000   1997.000000
    max    35548.000000    280.000000   2002.000000

In [33]:
sorted.count()

,record_id,month,day,year,plot_id,species_id,hindfoot_length,weight
sex,,,,,,,,
F,15690,15690,15690,15690,15690,15690,14894,15303
M,17348,17348,17348,17348,17348,17348,16476,16879

In [34]:
species_counts = surveys_df.groupby('species_id').count()
species_group = surveys_df.groupby('species_id').

In [35]:
species_counts

,record_id,month,day,year,plot_id,sex,hindfoot_length,weight
species_id,,,,,,,,
AB,303,303,303,303,303,0,0,0
AH,437,437,437,437,437,1,2,0
AS,2,2,2,2,2,0,0,0
BA,46,46,46,46,46,45,45,45
CB,50,50,50,50,50,0,0,0
CM,13,13,13,13,13,0,0,0
CQ,16,16,16,16,16,0,0,0
CS,1,1,1,1,1,0,0,0
CT,1,1,1,1,1,0,0,0
CU,1,1,1,1,1,0,0,0
CV,1,1,1,1,1,0,0,0
DM,10596,10596,10596,10596,10596,10523,9972,10262
DO,3027,3027,3027,3027,3027,3015,2887,2904
DS,2504,2504,2504,2504,2504,2458,2132,2344
DX,40,40,40,40,40,0,0,0
NL,1252,1252,1252,1252,1252,1177,1074,1152
OL,1006,1006,1006,1006,1006,987,920,970
OT,2249,2249,2249,2249,2249,2213,2139,2160
OX,12,12,12,12,12,9,8,6
PB,2891,2891,2891,2891,2891,2862,2864,2810
PC,39,39,39,39,39,0,0,0
PE,1299,1299,1299,1299,1299,1277,1212,1260
PF,1597,1597,1597,1597,1597,1573,1493,1548
PG,8,8,8,8,8,0,0,0
PH,32,32,32,32,32,32,31,31
PI,9,9,9,9,9,8,9,8
PL,36,36,36,36,36,35,36,36
PM,899,899,899,899,899,883,847,876
PP,3123,3123,3123,3123,3123,3076,3027,3024
PU,5,5,5,5,5,0,0,0
PX,6,6,6,6,6,2,2,2
RF,75,75,75,75,75,75,73,75
RM,2609,2609,2609,2609,2609,2548,2442,2535
RO,8,8,8,8,8,8,8,8
RX,2,2,2,2,2,2,2,2
SA,75,75,75,75,75,0,0,0
SC,1,1,1,1,1,0,0,0
SF,43,43,43,43,43,40,41,41
SH,147,147,147,147,147,143,131,141
SO,43,43,43,43,43,43,41,41
SS,248,248,248,248,248,3,0,2
ST,1,1,1,1,1,0,0,0
SU,5,5,5,5,5,0,0,0
UL,4,4,4,4,4,0,0,0
UP,8,8,8,8,8,0,0,0
UR,10,10,10,10,10,0,0,0
US,4,4,4,4,4,0,0,0
ZL,2,2,2,2,2,0,0,0

In [38]:
surveys_df['weight2'] = surveys_df['weight']*5